
#welcome-banner {
  text-align: center;
  font-family: sans-serif;
  font-size: 24pt;
}
#top-bar {
  background-color: grey;
  height: 140px;
  margin-left: 0;
}
#welcome-description {
  text-align: center;
  font-family: cursive;
}
#spock {
  width: 400px;
  height: 287px;
  display: inline;
}
#spock-pic {
  float: right;
}
#difficulty-select {
  text-align: center;
}
#casper {
  height: 287px;
  width: 400px;
}
#casper-pic {
  float: left
}
.div {
  display:inline-flex;
}
#start-game-button {
  background-color: green;
}
